body {
    text-align: center;
}
.card {
    border: 2px solid #fff;
    display: inline-block;
    text-align: left;

}
.card__top {
    border-bottom: 2px solid #fff;
    background-color: #fff;
}
.card__top img {
    height: 100%;
    object-fit: contain;

}
.card__bottom {
    padding: 5px 20px;
}
h2, h5 {
    margin: 5px 0;
} 
a {
    display: block;
    color: inherit;
}
.btn {
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.btn:hover {
    color: #fff;
    background-color: #3f3f3f;
}